#outerContainer

  #mainContainer
    %div.toolbar
      #toolbarContainer
        #toolbarViewer
          #toolbarViewerLeft
          #toolbarViewerRight
          .outerCenter
            %div{:id => 'toolbarViewerMiddle', :class => 'innerCenter'}
    #viewerContainer
      #viewer
        %h1 GlobalNames Reconciliation Demo
        %p.notFound Not Found. That page does not exist.