/*********** GLOBALS *************/
h1 {
  color:#F3F3F3;
  margin:20px 0 20px 100px;
  line-height:32px;
  height:32px;
  vertical-align:middle;
}

#flash_error {
  color:yellow;
  font-weight:bold;
  font-size:20px;
}

.notFound {
  font-size:16px;
  margin-left:100px;
  color:#F3F3F3;
}

/*********** HOME *************/
#uploadForm {
  color:#F3F3F3;
  width:700px;
  margin-left:125px;
}

#uploadForm form > div {
  line-height:40px;
  height:50px;
  font-size:24px;
}

#uploadForm input {
  vertical-align:middle;
}

.green-submit {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  -moz-box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  -webkit-box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  border: 0 solid rgb(15, 18, 21) !important;
  min-height: 38px;
  padding: 7px 15px !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25) !important;
  border: 0;
  color: #fff;
  float: left;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgb(27,112,4) 4%, rgb(90,165,43) 58%, rgb(144,207,76) 98%) !important;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.04, rgb(27,112,4)), color-stop(0.58, rgb(90,165,43)), color-stop(0.98, rgb(144,207,76))) !important;
}

.green-submit:hover {
  box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
  -moz-box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
  -webkit-box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
}

#description {
  display:block;
  margin:20px 0 20px 0;
}

#description a {
  text-decoration: none;
  color: #90CF4C;
}

#description a:hover {
  color: rgb(126, 229, 44);
}

/*********** VIEWER *************/
.highlight {
 background-color:#ffff00;
 opacity: 0.6;
 margin:0px !important;
 padding:0px !important;
}

#nameLoader {
  margin-right:20px;
  padding-left:20px;
  background-image:url(../images/throbber.gif);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
}

#nameLoaderFailed {
  margin-right:20px;
  padding-left:20px;
  color:#ff0000;
  display:none;
}

#viewNames.toolbarButton::before {
  display: inline-block;
  content: url(../images/toolbarButton-names.png);
}

#namesView {
  overflow: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0;
  padding: 4px 4px 0;
  font-size: smaller;
}

#namesView .noResults, #namesView .looking {
  padding:0px;
  font-size:12px;
}

#namesView .noResults {
  display:none;
}

#namesView .failed {
  color:#ff0000;
}

#namesView > a, #namesView > div {
  text-decoration: none;
  display: inline-block;
  min-width: 95%;
  height: 20px;
  padding: 2px 0 0 10px;
  margin-bottom: 1px;
  border-radius: 2px;
  color: hsla(0,0%,100%,.8);
  font-size: 13px;
  line-height: 15px;
  -moz-user-select:none;
  cursor: default;
  white-space: nowrap;
}

#namesView > a:hover {
  background-color: hsla(0,0%,100%,.02);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.2) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,.9);
}